<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
<connectionStrings><add name="HeavyTransportationEntities" connectionString="metadata=res://*/DataBase.DBHeavyTransportation.csdl|res://*/DataBase.DBHeavyTransportation.ssdl|res://*/DataBase.DBHeavyTransportation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gogs.kp11.ru;initial catalog=HeavyTransportation;user id=Grishin_lv;password=DdtlbntGfhjkmLkz&lt;L;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>